.section-gallery {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    input {
      max-width: 272px;
      width: 100%;
      height: 40px;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(128, 128, 128, 1);
      border-radius: 0.25rem;

      &:hover {
        border-color: rgba(0, 0, 0, 1);
      }

      &:disabled {
        color: rgba(128, 128, 128, 1);
        border-color: rgba(128, 128, 128, 1);
        cursor: not-allowed;
      }

      &:focus,
      &:focus-visible {
        outline: none;
        color: rgba(0, 0, 0, 1);
        border-color: rgba(78, 117, 255, 1);
      }
    }
  }

  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 1rem;

    list-style-type: none;

    @media screen and (min-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery-item {
      border: 1px solid rgba(128, 128, 128, 1);
    }

    .gallery-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;

      @media screen and (min-width: 1024px) {
        height: 200px;
      }
    }

    .gallery-link {
      position: relative;

      .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 48px;
        padding: 0.25rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0.25rem;
        background-color: #fff;

        @media screen and (min-width: 1024px) {
          padding: 0.25rem 1rem;
          gap: 1.75rem;
        }

        .info-item {
          text-align: center;
          font-size: 0.75rem;

          p:nth-child(1) {
            font-weight: 600;
            line-height: 1.33;
          }
          p:nth-child(2) {
            line-height: 2;
          }
        }
      }
    }
  }
}

.btn {
  width: fit-content;
  height: 40px;
  padding: 0 1rem;
  font-weight: 500;
  color: white;
  background-color: rgba(78, 117, 255, 1);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(108, 140, 255, 1);
  }

  &:disabled {
    color: rgba(152, 152, 152, 1);
    background-color: rgba(207, 207, 207, 1);
    cursor: not-allowed;
  }
}

div.sl-overlay {
  background: rgba(46, 47, 66, 1);
}

.sl-wrapper.simple-lightbox {
  .sl-close,
  .sl-prev,
  .sl-next,
  .sl-counter {
    color: #fff;
  }
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  color: transparent;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(78, 117, 255, 0.3) inset;
}
.loader:after {
  box-shadow: 0 6px 0 rgba(78, 117, 255, 1) inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
